h1 {
  font: 4.0em "Lucida Console", monospace;
}

h2 {
    font: 2.0em "Lucida Console", monospace;
}

h3 {
    font: 1.5em "Lucida Console", monospace;;
}

p {
    font: 1.2em "Lucida Grande", sans-serif;
}

#brand-image {
    height: 50px;
}